$flex-direction: (
    'row': ('display': 'flex',
        'flex-direction': 'row'
    ),
    'col': ('display': 'flex',
        'flex-direction': 'column'
    ),
    'row-reverse': ('display': 'flex',
        'flex-direction': 'row'
    ),
    'col-reverse': ('display': 'flex',
        'flex-direction': 'column-reverse'
    )
);

$justify-content: (
    'justify-start': ('display': 'flex',
        'justify-content': 'justify-start'
    ),
    'justify-end': ('display': 'flex',
        'justify-content': 'flex-end'
    ),
    'justify-center': ('display': 'flex',
        'justify-content': 'center'
    ),
    'justify-between': ('display': 'flex',
        'justify-content': 'space-between'
    ),
    'justify-evenly': ('display': 'flex',
        'justify-content': 'space-evenly'
    ),
    'justify-around': ('display': 'flex',
        'justify-content': 'space-around'
    )
);

$align-items: (
    'align-start': ('display': 'flex',
        'align-items': 'flex-start'
    ),
    'align-end': ('display': 'flex',
        'align-items': 'flex-end'
    ),
    'align-center': ('display': 'flex',
        'align-items': 'center'
    ),
    'align-baseline': ('display': 'flex',
        'align-items': 'baseline'
    ),
    'align-stretch': ('display': 'flex',
        'align-items': 'stretch'
    )
);

$align-self: (
    'self-start': ('display': 'flex',
        'align-self': 'start'
    ),
    'self-end': ('display': 'flex',
        'align-self': 'end'
    ),
    'self-center': ('display': 'flex',
        'align-self': 'center'
    ),
    'self-baseline': ('display': 'flex',
        'align-self': 'baseline'
    ),
    'self-stretch': ('display': 'flex',
        'align-self': 'stretch'
    ),
);

$flex-wrap: (
    'flex-wrap': ('display': 'flex',
        'flex-wrap': 'wrap'
    ),
    'flex-nowrap': ('display': 'flex',
        'flex-wrap': 'nowrap'
    ),
    'flex-wrap-reverse': ('display': 'flex',
        'flex-wrap': 'wrap-reverse'
    ),
);