$padding: (
    'auto': 'p-auto',
    '0': 'p-0'
);

$padding-top: (
    'auto': 'pt-auto',
    '0': 'pt-0'
);

$padding-bottom: (
    'auto': 'pb-auto',
    '0': 'pb-0'
);

$padding-left: (
    'auto': 'pl-auto',
    '0': 'pl-0'
);

$padding-right: (
    'auto': 'pr-auto',
    '0': 'pr-0'
);