.display-none {
  display: none;
}

@media (max-width: 576px) {
  .display-xs-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .display-sm-none {
    display: none;
  }
}

@media (max-width: 992px) {
  .display-md-none {
    display: none;
  }
}

@media (max-width: 1200px) {
  .display-lg-none {
    display: none;
  }
}

@media (max-width: 1400px) {
  .display-xl-none {
    display: none;
  }
}

.display-block {
  display: block;
}

@media (max-width: 576px) {
  .display-xs-block {
    display: block;
  }
}

@media (max-width: 768px) {
  .display-sm-block {
    display: block;
  }
}

@media (max-width: 992px) {
  .display-md-block {
    display: block;
  }
}

@media (max-width: 1200px) {
  .display-lg-block {
    display: block;
  }
}

@media (max-width: 1400px) {
  .display-xl-block {
    display: block;
  }
}

.display-inline {
  display: inline;
}

@media (max-width: 576px) {
  .display-xs-inline {
    display: inline;
  }
}

@media (max-width: 768px) {
  .display-sm-inline {
    display: inline;
  }
}

@media (max-width: 992px) {
  .display-md-inline {
    display: inline;
  }
}

@media (max-width: 1200px) {
  .display-lg-inline {
    display: inline;
  }
}

@media (max-width: 1400px) {
  .display-xl-inline {
    display: inline;
  }
}

.display-inline-block {
  display: inline-block;
}

@media (max-width: 576px) {
  .display-xs-inline-block {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .display-sm-inline-block {
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .display-md-inline-block {
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .display-lg-inline-block {
    display: inline-block;
  }
}

@media (max-width: 1400px) {
  .display-xl-inline-block {
    display: inline-block;
  }
}

.display-grid {
  display: grid;
}

@media (max-width: 576px) {
  .display-xs-grid {
    display: grid;
  }
}

@media (max-width: 768px) {
  .display-sm-grid {
    display: grid;
  }
}

@media (max-width: 992px) {
  .display-md-grid {
    display: grid;
  }
}

@media (max-width: 1200px) {
  .display-lg-grid {
    display: grid;
  }
}

@media (max-width: 1400px) {
  .display-xl-grid {
    display: grid;
  }
}

.display-inline-flex flex {
  display: inline-flex flex;
}

@media (max-width: 576px) {
  .display-xs-inline-flex flex {
    display: inline-flex flex;
  }
}

@media (max-width: 768px) {
  .display-sm-inline-flex flex {
    display: inline-flex flex;
  }
}

@media (max-width: 992px) {
  .display-md-inline-flex flex {
    display: inline-flex flex;
  }
}

@media (max-width: 1200px) {
  .display-lg-inline-flex flex {
    display: inline-flex flex;
  }
}

@media (max-width: 1400px) {
  .display-xl-inline-flex flex {
    display: inline-flex flex;
  }
}

.padding-auto {
  padding: auto;
}

@media (max-width: 576px) {
  .padding-xs-auto {
    padding: auto;
  }
}

@media (max-width: 768px) {
  .padding-sm-auto {
    padding: auto;
  }
}

@media (max-width: 992px) {
  .padding-md-auto {
    padding: auto;
  }
}

@media (max-width: 1200px) {
  .padding-lg-auto {
    padding: auto;
  }
}

@media (max-width: 1400px) {
  .padding-xl-auto {
    padding: auto;
  }
}

.padding-0 {
  padding: 0;
}

@media (max-width: 576px) {
  .padding-xs-0 {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .padding-sm-0 {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .padding-md-0 {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .padding-lg-0 {
    padding: 0;
  }
}

@media (max-width: 1400px) {
  .padding-xl-0 {
    padding: 0;
  }
}

.padding-top-auto {
  padding-top: auto;
}

@media (max-width: 576px) {
  .padding-top-xs-auto {
    padding-top: auto;
  }
}

@media (max-width: 768px) {
  .padding-top-sm-auto {
    padding-top: auto;
  }
}

@media (max-width: 992px) {
  .padding-top-md-auto {
    padding-top: auto;
  }
}

@media (max-width: 1200px) {
  .padding-top-lg-auto {
    padding-top: auto;
  }
}

@media (max-width: 1400px) {
  .padding-top-xl-auto {
    padding-top: auto;
  }
}

.padding-top-0 {
  padding-top: 0;
}

@media (max-width: 576px) {
  .padding-top-xs-0 {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .padding-top-sm-0 {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .padding-top-md-0 {
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  .padding-top-lg-0 {
    padding-top: 0;
  }
}

@media (max-width: 1400px) {
  .padding-top-xl-0 {
    padding-top: 0;
  }
}

.padding-bottom-auto {
  padding-bottom: auto;
}

@media (max-width: 576px) {
  .padding-bottom-xs-auto {
    padding-bottom: auto;
  }
}

@media (max-width: 768px) {
  .padding-bottom-sm-auto {
    padding-bottom: auto;
  }
}

@media (max-width: 992px) {
  .padding-bottom-md-auto {
    padding-bottom: auto;
  }
}

@media (max-width: 1200px) {
  .padding-bottom-lg-auto {
    padding-bottom: auto;
  }
}

@media (max-width: 1400px) {
  .padding-bottom-xl-auto {
    padding-bottom: auto;
  }
}

.padding-bottom-0 {
  padding-bottom: 0;
}

@media (max-width: 576px) {
  .padding-bottom-xs-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .padding-bottom-sm-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .padding-bottom-md-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .padding-bottom-lg-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 1400px) {
  .padding-bottom-xl-0 {
    padding-bottom: 0;
  }
}

.padding-left-auto {
  padding-left: auto;
}

@media (max-width: 576px) {
  .padding-left-xs-auto {
    padding-left: auto;
  }
}

@media (max-width: 768px) {
  .padding-left-sm-auto {
    padding-left: auto;
  }
}

@media (max-width: 992px) {
  .padding-left-md-auto {
    padding-left: auto;
  }
}

@media (max-width: 1200px) {
  .padding-left-lg-auto {
    padding-left: auto;
  }
}

@media (max-width: 1400px) {
  .padding-left-xl-auto {
    padding-left: auto;
  }
}

.padding-left-0 {
  padding-left: 0;
}

@media (max-width: 576px) {
  .padding-left-xs-0 {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .padding-left-sm-0 {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .padding-left-md-0 {
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .padding-left-lg-0 {
    padding-left: 0;
  }
}

@media (max-width: 1400px) {
  .padding-left-xl-0 {
    padding-left: 0;
  }
}

.padding-right-auto {
  padding-right: auto;
}

@media (max-width: 576px) {
  .padding-right-xs-auto {
    padding-right: auto;
  }
}

@media (max-width: 768px) {
  .padding-right-sm-auto {
    padding-right: auto;
  }
}

@media (max-width: 992px) {
  .padding-right-md-auto {
    padding-right: auto;
  }
}

@media (max-width: 1200px) {
  .padding-right-lg-auto {
    padding-right: auto;
  }
}

@media (max-width: 1400px) {
  .padding-right-xl-auto {
    padding-right: auto;
  }
}

.padding-right-0 {
  padding-right: 0;
}

@media (max-width: 576px) {
  .padding-right-xs-0 {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .padding-right-sm-0 {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .padding-right-md-0 {
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  .padding-right-lg-0 {
    padding-right: 0;
  }
}

@media (max-width: 1400px) {
  .padding-right-xl-0 {
    padding-right: 0;
  }
}

.margin-auto {
  margin: auto;
}

@media (max-width: 576px) {
  .margin-xs-auto {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .margin-sm-auto {
    margin: auto;
  }
}

@media (max-width: 992px) {
  .margin-md-auto {
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .margin-lg-auto {
    margin: auto;
  }
}

@media (max-width: 1400px) {
  .margin-xl-auto {
    margin: auto;
  }
}

.margin-0 {
  margin: 0;
}

@media (max-width: 576px) {
  .margin-xs-0 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .margin-sm-0 {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .margin-md-0 {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .margin-lg-0 {
    margin: 0;
  }
}

@media (max-width: 1400px) {
  .margin-xl-0 {
    margin: 0;
  }
}

.margin-top-auto {
  margin-top: auto;
}

@media (max-width: 576px) {
  .margin-top-xs-auto {
    margin-top: auto;
  }
}

@media (max-width: 768px) {
  .margin-top-sm-auto {
    margin-top: auto;
  }
}

@media (max-width: 992px) {
  .margin-top-md-auto {
    margin-top: auto;
  }
}

@media (max-width: 1200px) {
  .margin-top-lg-auto {
    margin-top: auto;
  }
}

@media (max-width: 1400px) {
  .margin-top-xl-auto {
    margin-top: auto;
  }
}

.margin-top-0 {
  margin-top: 0;
}

@media (max-width: 576px) {
  .margin-top-xs-0 {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .margin-top-sm-0 {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .margin-top-md-0 {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .margin-top-lg-0 {
    margin-top: 0;
  }
}

@media (max-width: 1400px) {
  .margin-top-xl-0 {
    margin-top: 0;
  }
}

.margin-bottom-auto {
  margin-bottom: auto;
}

@media (max-width: 576px) {
  .margin-bottom-xs-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 768px) {
  .margin-bottom-sm-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 992px) {
  .margin-bottom-md-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 1200px) {
  .margin-bottom-lg-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 1400px) {
  .margin-bottom-xl-auto {
    margin-bottom: auto;
  }
}

.margin-bottom-0 {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .margin-bottom-xs-0 {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .margin-bottom-sm-0 {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .margin-bottom-md-0 {
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .margin-bottom-lg-0 {
    margin-bottom: 0;
  }
}

@media (max-width: 1400px) {
  .margin-bottom-xl-0 {
    margin-bottom: 0;
  }
}

.margin-left-auto {
  margin-left: auto;
}

@media (max-width: 576px) {
  .margin-left-xs-auto {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .margin-left-sm-auto {
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .margin-left-md-auto {
    margin-left: auto;
  }
}

@media (max-width: 1200px) {
  .margin-left-lg-auto {
    margin-left: auto;
  }
}

@media (max-width: 1400px) {
  .margin-left-xl-auto {
    margin-left: auto;
  }
}

.margin-left-0 {
  margin-left: 0;
}

@media (max-width: 576px) {
  .margin-left-xs-0 {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .margin-left-sm-0 {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .margin-left-md-0 {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .margin-left-lg-0 {
    margin-left: 0;
  }
}

@media (max-width: 1400px) {
  .margin-left-xl-0 {
    margin-left: 0;
  }
}

.margin-right-auto {
  margin-right: auto;
}

@media (max-width: 576px) {
  .margin-right-xs-auto {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .margin-right-sm-auto {
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .margin-right-md-auto {
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .margin-right-lg-auto {
    margin-right: auto;
  }
}

@media (max-width: 1400px) {
  .margin-right-xl-auto {
    margin-right: auto;
  }
}

.margin-right-0 {
  margin-right: 0;
}

@media (max-width: 576px) {
  .margin-right-xs-0 {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .margin-right-sm-0 {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .margin-right-md-0 {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .margin-right-lg-0 {
    margin-right: 0;
  }
}

@media (max-width: 1400px) {
  .margin-right-xl-0 {
    margin-right: 0;
  }
}

.flex-direction-row {
  flex-direction: row;
}

@media (max-width: 576px) {
  .flex-direction-xs-row {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .flex-direction-sm-row {
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  .flex-direction-md-row {
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .flex-direction-lg-row {
    flex-direction: row;
  }
}

@media (max-width: 1400px) {
  .flex-direction-xl-row {
    flex-direction: row;
  }
}

.flex-direction-column {
  flex-direction: column;
}

@media (max-width: 576px) {
  .flex-direction-xs-column {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .flex-direction-sm-column {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .flex-direction-md-column {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .flex-direction-lg-column {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .flex-direction-xl-column {
    flex-direction: column;
  }
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 576px) {
  .flex-direction-xs-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .flex-direction-sm-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 992px) {
  .flex-direction-md-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1200px) {
  .flex-direction-lg-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1400px) {
  .flex-direction-xl-row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

@media (max-width: 576px) {
  .flex-direction-xs-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .flex-direction-sm-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .flex-direction-md-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1200px) {
  .flex-direction-lg-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1400px) {
  .flex-direction-xl-column-reverse {
    flex-direction: column-reverse;
  }
}

.justify-content-flex-start {
  justify-content: flex-start;
}

@media (max-width: 576px) {
  .justify-content-xs-flex-start {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-flex-start {
    justify-content: flex-start;
  }
}

@media (max-width: 992px) {
  .justify-content-md-flex-start {
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-flex-start {
    justify-content: flex-start;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-flex-start {
    justify-content: flex-start;
  }
}

.justify-content-flex-end {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .justify-content-xs-flex-end {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-flex-end {
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .justify-content-md-flex-end {
    justify-content: flex-end;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-flex-end {
    justify-content: flex-end;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-flex-end {
    justify-content: flex-end;
  }
}

.justify-content-center {
  justify-content: center;
}

@media (max-width: 576px) {
  .justify-content-xs-center {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-center {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .justify-content-md-center {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-center {
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-center {
    justify-content: center;
  }
}

.justify-content-space-between {
  justify-content: space-between;
}

@media (max-width: 576px) {
  .justify-content-xs-space-between {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-space-between {
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .justify-content-md-space-between {
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

@media (max-width: 576px) {
  .justify-content-xs-space-evenly {
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-space-evenly {
    justify-content: space-evenly;
  }
}

@media (max-width: 992px) {
  .justify-content-md-space-evenly {
    justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-space-evenly {
    justify-content: space-evenly;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-space-evenly {
    justify-content: space-evenly;
  }
}

.justify-content-space-around {
  justify-content: space-around;
}

@media (max-width: 576px) {
  .justify-content-xs-space-around {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .justify-content-sm-space-around {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .justify-content-md-space-around {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
}

@media (max-width: 1400px) {
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
}

.align-items-flex-start {
  align-items: flex-start;
}

@media (max-width: 576px) {
  .align-items-xs-flex-start {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .align-items-sm-flex-start {
    align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .align-items-md-flex-start {
    align-items: flex-start;
  }
}

@media (max-width: 1200px) {
  .align-items-lg-flex-start {
    align-items: flex-start;
  }
}

@media (max-width: 1400px) {
  .align-items-xl-flex-start {
    align-items: flex-start;
  }
}

.align-items-flex-end {
  align-items: flex-end;
}

@media (max-width: 576px) {
  .align-items-xs-flex-end {
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .align-items-sm-flex-end {
    align-items: flex-end;
  }
}

@media (max-width: 992px) {
  .align-items-md-flex-end {
    align-items: flex-end;
  }
}

@media (max-width: 1200px) {
  .align-items-lg-flex-end {
    align-items: flex-end;
  }
}

@media (max-width: 1400px) {
  .align-items-xl-flex-end {
    align-items: flex-end;
  }
}

.align-items-center {
  align-items: center;
}

@media (max-width: 576px) {
  .align-items-xs-center {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .align-items-sm-center {
    align-items: center;
  }
}

@media (max-width: 992px) {
  .align-items-md-center {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .align-items-lg-center {
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .align-items-xl-center {
    align-items: center;
  }
}

.align-items-baseline {
  align-items: baseline;
}

@media (max-width: 576px) {
  .align-items-xs-baseline {
    align-items: baseline;
  }
}

@media (max-width: 768px) {
  .align-items-sm-baseline {
    align-items: baseline;
  }
}

@media (max-width: 992px) {
  .align-items-md-baseline {
    align-items: baseline;
  }
}

@media (max-width: 1200px) {
  .align-items-lg-baseline {
    align-items: baseline;
  }
}

@media (max-width: 1400px) {
  .align-items-xl-baseline {
    align-items: baseline;
  }
}

.align-items-stretch {
  align-items: stretch;
}

@media (max-width: 576px) {
  .align-items-xs-stretch {
    align-items: stretch;
  }
}

@media (max-width: 768px) {
  .align-items-sm-stretch {
    align-items: stretch;
  }
}

@media (max-width: 992px) {
  .align-items-md-stretch {
    align-items: stretch;
  }
}

@media (max-width: 1200px) {
  .align-items-lg-stretch {
    align-items: stretch;
  }
}

@media (max-width: 1400px) {
  .align-items-xl-stretch {
    align-items: stretch;
  }
}

.align-self-start {
  align-self: start;
}

@media (max-width: 576px) {
  .align-self-xs-start {
    align-self: start;
  }
}

@media (max-width: 768px) {
  .align-self-sm-start {
    align-self: start;
  }
}

@media (max-width: 992px) {
  .align-self-md-start {
    align-self: start;
  }
}

@media (max-width: 1200px) {
  .align-self-lg-start {
    align-self: start;
  }
}

@media (max-width: 1400px) {
  .align-self-xl-start {
    align-self: start;
  }
}

.align-self-end {
  align-self: end;
}

@media (max-width: 576px) {
  .align-self-xs-end {
    align-self: end;
  }
}

@media (max-width: 768px) {
  .align-self-sm-end {
    align-self: end;
  }
}

@media (max-width: 992px) {
  .align-self-md-end {
    align-self: end;
  }
}

@media (max-width: 1200px) {
  .align-self-lg-end {
    align-self: end;
  }
}

@media (max-width: 1400px) {
  .align-self-xl-end {
    align-self: end;
  }
}

.align-self-center {
  align-self: center;
}

@media (max-width: 576px) {
  .align-self-xs-center {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .align-self-sm-center {
    align-self: center;
  }
}

@media (max-width: 992px) {
  .align-self-md-center {
    align-self: center;
  }
}

@media (max-width: 1200px) {
  .align-self-lg-center {
    align-self: center;
  }
}

@media (max-width: 1400px) {
  .align-self-xl-center {
    align-self: center;
  }
}

.align-self-baseline {
  align-self: baseline;
}

@media (max-width: 576px) {
  .align-self-xs-baseline {
    align-self: baseline;
  }
}

@media (max-width: 768px) {
  .align-self-sm-baseline {
    align-self: baseline;
  }
}

@media (max-width: 992px) {
  .align-self-md-baseline {
    align-self: baseline;
  }
}

@media (max-width: 1200px) {
  .align-self-lg-baseline {
    align-self: baseline;
  }
}

@media (max-width: 1400px) {
  .align-self-xl-baseline {
    align-self: baseline;
  }
}

.align-self-stretch {
  align-self: stretch;
}

@media (max-width: 576px) {
  .align-self-xs-stretch {
    align-self: stretch;
  }
}

@media (max-width: 768px) {
  .align-self-sm-stretch {
    align-self: stretch;
  }
}

@media (max-width: 992px) {
  .align-self-md-stretch {
    align-self: stretch;
  }
}

@media (max-width: 1200px) {
  .align-self-lg-stretch {
    align-self: stretch;
  }
}

@media (max-width: 1400px) {
  .align-self-xl-stretch {
    align-self: stretch;
  }
}

/*# sourceMappingURL=styles.scss.map */
